trunk/src/Sofia.Plugins/Sofia.Plugins.General.Contact/Sofia.Plugins.General.Contact.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Document">    
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Nom" type="xs:string" />
        <xs:element name="Prenom" type="xs:string" />
      </xs:sequence>
      <xs:attribute name="revision" type="xs:integer" />
    </xs:complexType>
  </xs:element>
</xs:schema>