trunk/src/Sofia.Plugins/Sofia.Plugins.General.Contact/Sofia.Plugins.General.Contact.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Prenom" type="xs:string"/>
	<xs:element name="Nom" type="xs:string"/>
	<xs:element name="Document">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Nom"/>
				<xs:element ref="Prenom"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
