branches/delphi/framework/plugins/model/model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by eric vantroeyen (AXILOG) -->
<!--W3C Schema generated by XML Spy v4.3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="DeleteCommand">
		<xs:complexType>
			<xs:attribute name="Text" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Domain">
		<xs:complexType>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Type" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Domains">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Domain" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Entities">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Entity"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Entity">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Fields"/>
				<xs:element ref="Indices"/>
				<xs:element ref="SelectCommand"/>
				<xs:element ref="InsertCommand"/>
				<xs:element ref="UpdateCommand"/>
				<xs:element ref="DeleteCommand"/>
			</xs:sequence>
			<xs:attribute name="Name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Field">
		<xs:complexType>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Type" type="xs:string" use="optional"/>
			<xs:attribute name="Nullable" type="xs:boolean" use="optional"/>
			<xs:attribute name="Label" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Fields">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Field" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Indice">
		<xs:complexType>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Primary" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Indices">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Indice"/>
				<xs:element ref="Fields"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="InsertCommand">
		<xs:complexType>
			<xs:attribute name="Text" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Model">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Domains"/>
				<xs:element ref="Entities"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Param">
		<xs:complexType>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Type" type="xs:string" use="required"/>
			<xs:attribute name="Value" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Params">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Param"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SelectCommand">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Params"/>
			</xs:sequence>
			<xs:attribute name="Text" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="UpdateCommand">
		<xs:complexType>
			<xs:attribute name="Text" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
